<div class="container">

  <form action="/parcel_result">
    <label for="weight" >Weight</label>
    <input id="weight" name="weight" type="text" required="required">
    lbs.
    <br />
    <label for="length">Length</label>
    <input id="length" name="length" type="text" required="required">
    in.
    <br />
    <label for="width" >Width </label>
    <input id="width" name="width" type="text" required="required">
    in.
    <br />
    <label for="height">Height</label>
    <input id="height" name="height" type="text" required="required">
    in.
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

</div>
